@import url("https://fonts.googleapis.com/css2?family=Rubik");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}

html {
  background: rgb(14, 129, 10);
  background: linear-gradient(
    90deg,
    rgba(14, 129, 10, 0.577468487394958) 1%,
    rgba(12, 139, 166, 0.47102591036414565) 49%,
    rgba(0, 255, 239, 0.6082808123249299) 100%
  );
}

.loadingSpinner {
  position: fixed;
  margin-inline: auto;
  margin-block: auto;
  inset-inline: 0;
  margin-top: 40px;
  /* inset-block: 0; */
  text-align: center;
  z-index: 10;
}

.card {
  margin-block: 2rem;
  margin-inline: auto;
  max-width: 35rem;
  border-radius: 3rem;
  background: linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  box-shadow: 0px 0px 94px -4px rgba(0, 0, 0, 0.75);
}

.inputSection {
  display: flex;
  margin-inline: auto;
  padding-inline: 3rem;
  margin-top: 3rem;
  justify-content: center;
  gap: 1rem;
  max-width: 35rem;
}

.weatherInput {
  background-color: cornsilk;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  border: none;
  font-size: 1.8rem;
  border-radius: 2rem;
  min-width: 1rem;
  height: inherit;
  flex-grow: 1;
}

.inputButton {
  background-color: cornsilk;
  border: none;
  height: 3rem;
  aspect-ratio: 1;
  font-size: 1.3rem;
  border-radius: 50%;
}

.inputButton:hover {
  color: red;
}

.weatherIcon {
  display: block;
  margin-inline: auto;
  width: 20rem;
}

.cityName {
  color: cornsilk;
  font-size: 4rem;
  text-align: center;
  padding-inline: 3rem;
  word-break: keep-all;
  word-wrap: break-word;
}

.temperature {
  display: block;
  color: cornsilk;
  text-align: center;
  margin-top: 4rem;
  padding-inline: 3rem;
  font-size: 2.5rem;
}

.infoSection {
  color: cornsilk;
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem 3rem 4rem;
  bottom: 0;
}

.infoLabel {
  font-size: 1rem;
  text-align: center;
}

.valueIconWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    font-size: 11px;
  }
}
